/* -------------------------------------------------------------------- */

/* --------------------- OVERRIDING STYLES ---------------------------- */

.ms-side-panel .ms-header.ms-primary .row:first-child {
    background-color: #fff;
    color: #000;
}

.col-xs-8 > h4 > span {
    color: #000;
    font-weight: bolder;
    font-size: large;
}

.mapstore-switch-btn input:checked + .m-slider{
    background-color: #c00;
}
.modal-header{
    background-color: #fff;
    border-bottom: #000
}

.glyphicon{
    color: #c00 !important;
}

.btn-default{
    background-color: #fff;
    border-color: #c00;
    color: #c00;
}

.modal-title > .ms-title > span,
.ms-header-btn {
    color: #c00;
}

.square-button.btn-primary,
.square-button-md.btn-primary{
    background-color: #fff;
    border-color: #fff !important;
}

.btn-primary{
    background-color: #fff;
    border-color: #c00 !important;
    color: #c00;
}

.btn-primary > span {
    color: #c00;
}

button.close:first-child:before{
    color: #c00;
}

.modal-title > span {
    color: #000;
    font-weight: bolder;
    font-size: larger;
}

button.close > span {
    color: #c00;
}


.search-button.btn-primary{
    background-color: #fff;
    border-color: #c00;
    color: #c00;
}

.row > h3 > span,
div > h2 > span {
    font-weight: bolder;
    font-size: 25pt;
}

.ms-grid-container .ms-map-card-col .gridcard .gridcard-title {
    color: #c00;
}

li > a,
.gridcard-title {
    font-weight: bolder;
    font-size: 13pt;
    color: #000;
}

button > span.glyphicon {
    color: #c00;
}

.req-btn,
.form-close-btn {
    border: .05em solid #c00;
    color: #c00
}


.noUi-target,
.noUi-handle{
    background-color: #fff;
}

.bg-primary {
   background-color: #fff !important;
}

.bg-primary:hover {
    background-color: #fff;
}

li > a > span {
    color: #000;
    font-weight: bold;
}

li.active > a > span {
    color:#c00;
    font-weight: bold;
}



.btn-primary.disabled.active,
.btn-primary[disabled].active,
.bg-primary.active,
.btn-primary.disabled{
    background-color: #fff;
}

.btn-primary.disabled.active:hover,
.btn-primary[disabled].active:hover,
.bg-primary.active:hover,
.btn-primary.disabled:hover,
.btn-primary:hover {
    background-color: rgb(201, 200, 200);
}

/* ------------------------------------------------------------------- */

.app-nav{
    box-shadow: .05px .05px .05px .05px rgba(0, 0, 0,  .175);
}

.attribution{
    width: 78px;
    height: 60px;
    border: .25em solid #fff;
    position: fixed;
    bottom: 17%;
    left: 0.3%;
    padding: .5%;

}

.attribution > .logo {
    width: 100%;
    height: 100%;
}

.map-view-wrapper{
    position: fixed;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}

.name-logo{
    font-size: 20pt;
}

.name-cover{
    width: 20%;
    line-height: normal;
}

.name-trans{
    color: white;
	-webkit-text-stroke: 1px black;
}

.image-logo{
    height: 100px;
    width: 100px;
    position: fixed;
    top: -2.78%;
    left: 4%;
}

.image-logo{
    z-index: 100;
}

.widget-title{
    color: #c00;
}

.image-container-logo{
    padding-left: 10%;
}

.tag-line{
    display: block;
}

.view-wrapper{
    position: relative;
}

.wps-mode-wrapper{
    position: fixed;
    top: 34.8vh;
    right: .27%;
    height: 52px;
    width: 52px;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 1001 !important;
}

.fa-white{
    color: #c00;
    font-size: 14pt;
}

.form-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,  .175);
    z-index: 1082 !important;
    padding-top: 10%;
}

.form-wrapper{
    padding: 2%;
    margin: auto;
    width: 20%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
}

@keyframes pop-trans-xs{
    0% {
      transform: scaleY(0.5); 
    }
    25%{
      opacity: 0.25
    }
    50% {
      opacity: 0.50;
    }
    100%{
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .forms-pop{
    animation: pop-trans-xs 0.3s;
    -webkit-animation : pop-trans-xs 0.3s;
  }

@-webkit-keyframes wrapperfadein {
    from {bottom: 15px; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
  }

  @keyframes wrapperfadein {
    from {bottom: 15px; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
  }